<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!--Appenders-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%highlight(%-5level) %d{HH:mm:ss.SSS} %-50logger{50} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>app.log</file>
        <append>true</append>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%highlight(%-5level) %d{HH:mm:ss.SSS} %-50logger{50} %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>app.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>48</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>200MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <!--Loggers-->

    <logger name="org" level="WARN"/>
    <logger name="com" level="WARN"/>
    <logger name="net" level="WARN"/>
    <logger name="edu" level="WARN"/>

    <!--<logger name="org.springframework.security" level="DEBUG"/>-->

    <logger name="reactor.netty.http.client" level="DEBUG" />
    <logger name="org.sokolas" level="DEBUG" />
<!--        <appender-ref ref="XMPP_APP"/>-->

    <!--ROOT config-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_APP"/>
    </root>
</configuration>
